
body {
  
  margin: 0;
  padding: 0;
}

.navbar {
  background-color:#F55A5A;
  color: #fff;
  height:40px;
  padding: 10px;
  display:flex;
  flex-display:row;
  justify-content:space-around;
  align-items:center;
}

.navbar input{
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}


.lin {
  font-size:1.5rem;
  color: #fff;
  text-decoration: none;
  margin:0 8px;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 0 20px;
}


.form-container {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container label {
  display: block;
  margin-bottom: 10px;
}

.form-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

.form-container button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.home-container {
  width:100wh;
  height:95vh;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.home-container ul {
  padding: 0;
  margin: 0;
}

.home-container ul li {
  list-style-type: none;
  margin-bottom: 10px;
}



.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: calc(33.33% - 20px); 
  flex-grow: 1;
  gap:10px;
}

.card h3 {
  margin-top: 0;
}

footer{
  
  background-color:#F87171;
  padding: 1rem; 
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1rem;
  gap: 1rem; 
}

@media screen and (min-width: 640px) {
  .flex-container {
    flex-direction: row;
  }
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
  margin-left: 1rem;
}

.contact-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: #fff;
}

.contact-link:hover {
  text-decoration: underline;
}

.contact-icon {
  width: 2rem;
  height: 2rem;
}

.contact-link h2 {
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  margin: 0;
}
.quote-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin-right: 1rem;
}

.quote-text {
  color: #333; 
  font-size: 1.25rem; 
  font-weight: 600; 
  text-align: center;
  letter-spacing: 0.0625rem; 
}

.description {
  color: #fff; 
  font-size: 1rem; 
  letter-spacing: 0.0625rem; 
  margin-top: 1rem;
}

.card img{
  cursor:pointer;
}

